#loginScreen {
    position: relative;
    width: 100%; height: calc(100% - 80px);
}

#loginPanel {
    position: relative;
    width: 45%; height: 100%;
    margin: 0 auto;
}

.loginF p {
    position: relative;
    margin-bottom: 10px;
}

.loginB {
    display: block;
}

.loginC,
.registerC {
    display: none;
}

#loginPanel .loginInput {
    position: relative;
    width: calc(100% - 32px);
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#loginPanel .loginButton {
    position: relative;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    background-color: #006ce4;
}

#loginPanel .loginButton:hover, #loginPanel .loginButton:active {
    background-color: #003b95;
}

.error {
    color: #d4111e;
    visibility: hidden;
}