.successfulPayment {
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.successfulInfo {
    position: relative;
    display: inline;
    top: 50%; transform: translateY(-50%);
}